@model ContosoUniversity.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />    
    <dl class="row">
        <dt @Html.DisplayNameFor(model => model.Name) </dt>
        <dt @Html.DisplayFor(model => model.Name) </dt>
        <dt @Html.DisplayFor(model => model.Administrator) </dt>
        <dt @Html.DisplayFor(model => model.Administrator.FullName) </dt>
        <dt @Html.DisplayNameFor(model => model.Budget) </dt>
        <dt @Html.DisplayFor(model => model.Budget) </dt>
        <dt @Html.DisplayNameFor(model => model.StartDate) </dt>
        <dt @Html.DisplayFor(model => model.StartDate) </dt>
        <dt @Html.DisplayFor(model => model.DepartmentDog) </dt>
        <dt>
            @{
                if(Model.EndDate != null)
                {
                    @Html.DisplayNameFor(Model => Model.EndDate)
                }
            }
        </dt>
        <dt>
            @{
                if (Model.EndDate != null)
                {
                    @Html.DisplayNameFor(Model => Model.EndDate)
                }
            }
        </dt>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DepartmentID" class="btn btn-secondary" >Edit</a>
    @*<a asp-action="Clone" asp-route-id="@Model.ID">Duplicate</a>*@
    <a asp-action="Index">Back to List</a>
</div>
