@model IEnumerable<ContosoUniversity.Models.Department>
@{
    ViewData["Title"] = "Departments";
}
<h1>Departments</h1>
<p>
    <a asp-action="Create">Create a new department</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th> @Html.DisplayNameFor(model => model.Name) </th>
            <th> @Html.DisplayNameFor(model => model.Administrator) </th>
            <th> @Html.DisplayNameFor(model => model.DepartmentDog) </th>
            <th> @Html.DisplayNameFor(model => model.Budget) </th>
            <th> @Html.DisplayNameFor(model => model.StartDate) </th>
         
            <th>Available actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var department in Model)
        {
            <tr>
                <td> @Html.DisplayFor(modelItem => department.Name) </td>
                <td> @Html.DisplayFor(modelItem => department.Administrator.FullName) </td>
                <td> @Html.DisplayFor(modelItem => department.DepartmentDog) </td>
                <td> @Html.DisplayFor(modelItem => department.Budget) </td>
                <td> @Html.DisplayFor(modelItem => department.StartDate) </td>
                <td> @Html.DisplayFor(modelItem => department.RowVersion) </td>
                <td>                 
                    <a asp-action="Edit" asp-route-id="@department.DepartmentID" class="btn btn-dark">Edit </a>
                    <a asp-action="BaseOn" asp-route-id="@department.DepartmentID" class="btn btn-dark">Base On </a>       
                    <a asp-action="Delete" asp-route-id="@department.DepartmentID" class="btn btn-dark">Delete and Details</a>
                </td>
            </tr>
        }
    </tbody>
